@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*---------------------GameBoard----------------*/
body{
    margin: 0px;
    padding: 0px;
    padding-right: 0%;
    border-right: solid 10px #000000;
    border-left: solid 10px #000000;
    border-bottom: solid 10px #000000;
    border-top: solid 10px #000000;
}

#gameScreen{
    display: block;
    
    
}
/*----------------------Menus-------------------*/
#gameOver{
    position: absolute;
    visibility: hidden;
}

#startGame{
    position: absolute;
}

#scoreBoard{
    position: absolute;
    visibility: hidden;
}

#score{
    font-family: "Press Start 2P", sans-serif;
    color: #2EE916;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.title{
    font-family: "Press Start 2P", sans-serif;
    font-size: 60px;
    color: #E50EEC;
    text-align: center;
    margin-top: 0px;
}

#restartButton{
    font-family: "Press Start 2P", sans-serif;
    color: #2EE916;
    text-align: center;
    border: solid 2px #2EE916;
    border-radius: 10px;
}

#restartButton:hover{
    background-color: #F20505;
}

#startButton{
     font-family: "Press Start 2P", sans-serif;
    color: #2EE916;
    text-align: center;
    border: solid 2px #2EE916;
    border-radius: 10px;
}

#startButton:hover{
    background-color: #F20505;
}

.welcome{
    font-family: "Press Start 2P", sans-serif;
    color: #2EE916;
    text-align: center;
}