/*---------------------GameBoard----------------*/
body{
    margin: 0px;
    padding: 0px;
}

#gameScreen{
    display: block;
}
/*----------------------Menus-------------------*/
#gameOver{
    position: absolute;
    visibility: hidden;
}